# -*- mode: snippet -*-
# contributor : Sal O'Rak
# binding: C-, b
# group: environments
# name : selected bold `buffer-name`
# condition: `(when (stringp yas-selected-text))`
# --
\textbf{${1:`yas-selected-text`}} $0