# -*- mode: snippet -*-
# contributor : Sal O'Rak
# key : igh
# group: figure
# name : \includegraphics{}
# --
\begin{figure}[H]
  \centering
  \caption{$1}
  \includegraphics[width=\textwidth]{$2}
  \label{fig:$3}
\end{figure}